*{
    margin: 0;
    padding: 0;
}
.container{
    /* background-color: blue; */
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    

}

.btn{
    height: 20px;
    width: 150px;
}
.row{
    height: 45px;
    display: flexbox;
    gap: 10px;
    align-items: center;
    justify-content: center;


    
}
button{
    height: 35px;
    width: 35px;
    color: rgb(33, 223, 36);
    background-color: black;

}
button{

    border-radius: 30px;
    margin-bottom: 7px;

}
button{
    border-radius: 7px;

}
button.zero{
    width: 75px;

}
button
{

    cursor: pointer;
}
.inp{
    height: 35px;
    width: 150px;
    border: 2px solid black;
    margin-bottom: 5px;
    border-radius: 10px;
    

}